.header {
  background: teal;
  color: white;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.leftPart {
  display: flex;
  gap: 2rem;
}

.leftPart ul:hover {
  color: rgb(89, 223, 223);
}

button a {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
